# Google Credentials
GOOGLE_EMAIL=#
GOOGLE_PASSWORD=#

# Looker Studio Report URLs (comma separated)
REPORT_URLS=#

# Options
HEADLESS=false
SLOW_MO=50
DEFAULT_TIMEOUT=60000
VIEWPORT_WIDTH=1568
VIEWPORT_HEIGHT=900
AUTH_STATE_DIR=auth_state
DOWNLOAD_DIR=downloads
